<!doctype html>
<html>
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        {% assets "all-css" %}<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">{% endassets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <header>
            {% block header %}{% endblock %}
        </header>
        <article>
            {% block content %}{% endblock %}
        </article>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
        {% endblock %}
    </body>
</html>
